* {
    font-family: "JetBrainsMono Nerd Font Mono", "Noto Sans Mono", monospace;
    font-size: 13px;
    min-height: 0;
}

window#waybar {
    background-color: rgba(0, 0, 0, 0.5);
    color: #cccccc;
}

button:hover {
  border-color: rgba(0,0,0,0);
  box-shadow: none;
  text-shadow: none;
  background: none;
  transition: none;
  background-color: rgba(150,150,150, 0.15);
}

#workspaces button {
  background-color: transparent;
  border-radius: 0px;
  color: #cccccc;
  padding: 1px 2px;
}

#workspaces button:hover {
  border-color: rgba(0,0,0,0);
  box-shadow: none;
  text-shadow: none;
  background: none;
  transition: none;
  background-color: rgba(150,150,150, 0.15);
}

#workspaces button.active {
    background-color: rgba(150,150,150,0.2);
}

#workspaces button.urgent {
    background-color: #eb4d4b;
}

#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#tray,
#mode,
#custom-swaylock,
#backlight,
#idle_inhibitor {
	margin: 0px 0px;
	padding: 0px 2px;
}

#window {
  margin-top: 0px;
  padding: 0px 0px;
}

.modules-left > widget:first-child > #workspaces {
}

.modules-right > widget:last-child {
}

@keyframes blink {
  from { color: #ffffff; }
  to   { color: red; }
}

#battery.critical:not(.charging) {
    color: #ffffff;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#pulseaudio.muted {
    color: gray;
}

#temperature.critical {
    color: red;
    font-weight: bold;
}

#custom-reboot,
#custom-suspend,
#custom-screenshot,
#custom-bluetooth,
#custom-shutdown {
    font-size: 20px;
}

#custom-separator1,
#custom-separator2,
#custom-separator3,
#custom-separator4,
#custom-separator5,
#custom-separator6,
#custom-separator7,
#custom-separator8,
#custom-separator9,
#custom-separator0 {
    color: #888888;
    padding: 0 0px;
    font-size: 20px;
}
